<<<<<<< Updated upstream
<<<<<<< Updated upstream
<<<<<<< Updated upstream
body {
    background-color: #bbbb76;
    font-family: Arial, sans-serif;
    margin: 0;
}


#nav-bar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: darkgoldenrod;
    position: relative;
}

.nav-links {
    float: left;
}

.nav-links a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.nav-links a:hover:not(.active) {
    background-color: darkorange;
}

.nav-links .active {
    background-color: darkred;
}

.nav-links-profile a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.nav-links-profile a:hover:not(.active) {
    background-color: darkorange;
}

.nav-links-profile .active {
    background-color: darkred;
}

.nav-links-profile {
    float: right;
}

.news-article {
    background-color: #e09261;
    padding: 15px;
    margin: 10px;
    border-radius: 10px;
}

.profile {
    background-color: #415741;
    padding: 20px;
    margin: 5px;
    text-align: center;
    border-radius: 10px;
}

.publish-article {
    background-color: #e09261;
    padding: 15px;
    margin: 10px;
    border-radius: 10px;
    max-width: 500px;
    text-align: left;
    float: left;
}

textarea {
    resize: none;
    margin: 5px;
}

input {
    margin: 5px;
}

.filter-section{grid-area: menu;}
.news-section{grid-area: main}

.grid-container {
    display: grid;
    grid-template-areas:
            'menu main main main main main'
            'menu main main main main main';
    gap: 10px;
    background-color: darkred;
    padding: 10px;
}

.grid-container > .filter-section{
    background-color: #e09261;
    text-align: left;
    padding: 20px 0;
    font-size: 15px;
}

.category_select{
    text-align: left;
    padding-left: 25px;
}

.category_name {
    text-decoration: none;
}

.category_name:hover{
    text-decoration: underline;
    font-weight: bold;
    cursor: pointer;
=======
=======
>>>>>>> Stashed changes
=======
>>>>>>> Stashed changes
body{
    background-color: #bbbb76;
    font-family: Arial, sans-serif;
}


#nav-bar{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: darkgoldenrod;
}

.nav-links{
    float: left;
}

.nav-links a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.nav-links a:hover:not(.active) {
    background-color: darkorange;
}
.nav-links .active{
    background-color: darkred;
}

.nav-links-profile a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.nav-links-profile a:hover:not(.active) {
    background-color: darkorange;
}
.nav-links-profile .active{
    background-color: darkred;
}

.nav-links-profile {
    float: right;
}

.news-article{
    background-color: #e09261;
    padding: 15px;
    margin: 10px;
    border-radius: 10px;
}

.profile{
    background-color: #415741;
    padding: 20px;
    margin: 5px;
    text-align: center;
    border-radius: 10px;
}

.publish-article{
    background-color: #e09261;
    padding: 15px;
    margin: 10px;
    border-radius: 10px;
<<<<<<< Updated upstream
<<<<<<< Updated upstream
>>>>>>> Stashed changes
=======
>>>>>>> Stashed changes
=======
>>>>>>> Stashed changes
}